*
{
    margin: 0;
    padding: 0;
}

body 
{
    font-family: 'Cairo', sans-serif;
    width: 100%;
    height:100vh;
    background:#f1f1f1;
    color: #061324;

}

/*global */
a
{
    text-decoration:none;
    color: #0894A1;
}

li 
{
    list-style: none;

}


.text-muted
{
    font-size: 50%;
}

/*LOGO*/

.logo
{
    font-size: 2rem;
    margin-left: 1rem;
    color: #061324;
    
    
}
/*Header */
header 
{
    
    height: 3rem;
    box-shadow: 0px 0px 2px #333, 1px 0px 4px #222;
    display: block;
    padding: 1%;
}

/* account forms */

.account-form-div 
{
    position: absolute;
    left: 10rem;
    margin-top: 3rem;
    background: #fff;
    padding: 3rem;
    width: 30rem;;
    box-shadow: 0 0 0.3rem #222, 0 0 0.5rem #111;
    border-radius: 0.25rem;
    height: 69%;
}

.account-form-div legend 
{
    font-size: 2rem;
    font-weight: bold;
}
.special-field 
{
    margin: 0.5rem;
    padding: 0.5rem;
    
}
.special-field input 
{
    padding: 0.45rem;
    width: 19rem;
    margin: 0.6rem;
    margin-left: 2rem;
    border:none;
    border-bottom: 2px solid #061324;
    outline:none;
    font-size: 1.2rem;

}
.form-info 
{
    margin-top: 4rem;
    text-align: center;
    margin-left: -2rem;
    font-weight: bolder;
}

/*aside navlinks */

aside
{
    height: 100vh;
    background: #061324;
    color: #f1f1f1;
    width: 8rem;
    margin:0;
    padding: 1%;
    float:left;

}
aside ul li , .logout
{
    padding: 1.2rem;
    font-size: 1rem;
    cursor: pointer;
}

aside ul li:hover, .logout:hover
{
    background: #0894A1;
    font-size: 0.1rem;
    transition: 0.62s all  ease-in;
}
/*link-messages */

.link-messages 
{
    padding: 0.2rem;
}
.compose
{
    background: #0894A1;
}


/*message body */

.message-body
{
    float: center;
}

/* buttons */
.button
{
    position: relative;
}
.form-submit 
{
    position: absolute;
    left: 3rem;
    border:none;
    width: 20rem;
    padding: 0.6rem;
    background: #061324;
    color:#fff;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 0.5rem;
    cursor: pointer;
    
}
.form-submit:hover 
{
    background: #0894A1;
}


/*media queries */

@media only screen and ( max-width: 800px) {
 body
 {
     width: 100%;
 }

 .logo
 {
     font-size:1rem;
 }
 header
 {
     width: 100%;
     padding: 2%;
 }

 .account-form-div 
 {
     width: 50%;
     left: 2rem;
     height:55%;
 }
 .account-form-div legend 
 {
     font-size: 1rem;
 }
 .special-field
 {
     margin:0;
     padding:0;
 }
 .special-field input 
 {
     width: 80%;
     font-size: 0.5rem;
     margin-left: 3%;
 }
 .form-submit
 {
     left: 5%;
     width: 12rem;
     font-size: 0.2rem;
     font-weight: bold;
     margin-top: 1rem;
 }
 .form-info
 {
     font-size: 0.2rem;
 }
 aside
 {
     width: 3rem;
 }
 .link-messages
 {
     display:none;
 }
 
}

@media only screen and (max-width: 400px) 
 {
     .form-submit {
         left: 0%;
         width: 100%;
     }
     aside
     {
         width: 3rem;
     }
 }